/*!
 *  Betclic
 *  @author: Erwan Chedaleux
 *  @version: 0.0.3
 *  
*/

dl,
dt,
dd,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
th,
var {
  font-style: normal;
  font-weight: normal;
}
ol {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: 400;
}
q:before,
q:after {
  content: '';
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: text-top;
}
sub {
  vertical-align: text-bottom;
}
input,
textarea,
select,
button {
  font-size: inherit;
  font-weight: inherit;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}
input[ type="checkbox"],
input[ type="radio"] {
  width: 13px;
  height: 13px;
}
input:focus,
textarea:focus,
select:focus,
button:focus,
a:focus {
  outline: none;
}
a {
  color: #000;
}
a,
a:hover {
  text-decoration: none;
}
legend {
  color: #000;
}
@font-face {
  font-family: 'metropolis';
  font-display: swap;
  src: url("../../assets/media/fonts/metropolis-regular-webfont.woff?eri2lx") format('woff'), url("../../assets/media/fonts/metropolis-regular-webfont.woff2?eri2lx") format('woff2'), url("../../assets/media/fonts/metropolis-regular-webfont.ttf?eri2lx") format('truetype');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'metropolis';
  font-display: swap;
  src: url("../../assets/media/fonts/metropolis-bold-webfont.woff?eri2lx") format('woff'), url("../../assets/media/fonts/metropolis-bold-webfont.woff2?eri2lx") format('woff2'), url("../../assets/media/fonts/metropolis-bold-webfont.ttf?eri2lx") format('truetype');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'metropolis';
  font-display: swap;
  src: url("../../assets/media/fonts/metropolis-extrabold-webfont.woff?eri2lx") format('woff'), url("../../assets/media/fonts/metropolis-extrabold-webfont.woff2?eri2lx") format('woff2'), url("../../assets/media/fonts/metropolis-extrabold-webfont.ttf?eri2lx") format('truetype');
  font-style: normal;
  font-weight: 800;
}
[class^="btn-"],
[class*=" btn-"],
a[class^="btn-"],
a[class*=" btn-"] {
  height: 44px;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border-width: 1px;
  border-style: solid;
  padding: 11px 15px;
  font-size: 1.4rem;
  overflow: hidden;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  text-decoration: none;
  cursor: pointer;
  -webkit-transform: scale(1);
          transform: scale(1);
  border-radius: 0;
  font-weight: 800;
  transition: all 0.5s ease;
}
.btn-1,
a.btn-1 {
  background-color: #fc0;
  border-color: #fc0;
  color: #111;
}
.btn-1:hover,
a.btn-1:hover,
.btn-1:focus,
a.btn-1:focus,
.btn-1.active,
a.btn-1.active {
  background-color: #111;
  border-color: #111;
  color: #fc0;
}
@media all and (min-width: 640px) {
  [class^="btn-"],
  [class*=" btn-"],
  a[class^="btn-"],
  a[class*=" btn-"] {
    padding: 10px 20px;
    font-size: 1.4rem;
  }
}
@media all and (min-width: 768px) {
  [class^="btn-"],
  [class*=" btn-"],
  a[class^="btn-"],
  a[class*=" btn-"] {
    padding: 10px 25px;
    font-size: 1.6rem;
  }
}
.mod-game {
  background-color: #fff;
  margin-bottom: 15px;
  overflow: hidden;
  box-shadow: 0 0 12px 0 rgba(0,0,0,0.15);
  border-radius: 4px;
}
.mod-game:last-child {
  margin-bottom: 0;
}
.mod-game.live .mg-informations {
  background-color: #292929;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mod-game.live .mg-informations_match-name {
  color: #fff;
  line-height: 1.2;
  clear: both;
}
.mod-game.live .mg-informations_match-event {
  line-height: 1.3;
}
.mod-game.live .mg-informations_bet-value {
  color: #fff;
}
.mod-game.live .mg-informations_match-time {
  text-align: right;
  margin-right: 10px;
}
.mg-foreground {
  position: relative;
}
.mg-foreground_img {
  display: block;
  margin-bottom: -1px;
}
.mg-foreground_live-icon {
  display: block;
  position: absolute;
  top: 8px;
  left: 12px;
  width: 35px;
  height: 16px;
  color: transparent;
  font: 0/0px;
  text-shadow: none;
}
.mg-informations {
  display: table;
  padding: 15px 10px 5px 10px;
  width: 100%;
}
.mg-informations_drawing,
.mg-informations_text,
.mg-informations_bets {
  display: table-cell;
  vertical-align: middle;
}
.mg-informations_drawing {
  width: 35px;
}
.mg-informations_bets {
  width: 40px;
}
.mg-informations_icon {
  display: block;
  width: 24px;
  height: 24px;
}
.mg-informations_match-time {
  display: block;
  font-size: 1.1rem;
  letter-spacing: -0.3px;
  color: #999;
  text-transform: uppercase;
  line-height: 1.1;
  margin-bottom: 3px;
  font-weight: 800;
}
.mg-informations_text {
  font-weight: 800;
}
.mg-informations_match-name {
  display: block;
  font-size: 1.8rem;
  letter-spacing: -0.4px;
  color: #111;
  line-height: 1;
  margin-bottom: 3px;
  font-weight: 800;
}
.mg-informations_match-score {
  margin: 0 8px;
}
.mg-informations_live-icon {
  float: left;
  display: block;
  width: 35px;
  height: 16px;
  margin-bottom: 5px;
  margin-right: 5px;
  color: transparent;
  font: 0/0px;
  text-shadow: none;
}
.mg-informations_live-tv-icon {
  float: left;
  display: block;
  width: 19px;
  height: 16px;
  margin-bottom: 5px;
  color: transparent;
  font: 0/0px;
  text-shadow: none;
}
.mg-informations_tv-icon {
  display: inline-block;
  width: 16px;
  height: 12px;
  margin-right: 3px;
  vertical-align: middle;
  color: transparent;
  font: 0/0px;
  text-shadow: none;
}
.mg-informations_match-event {
  display: block;
  font-size: 1.2rem;
  letter-spacing: -0.3px;
  color: #999;
  line-height: 1.1;
  font-weight: 800;
}
.mg-informations_bets {
  text-align: center;
}
.mg-informations_bet-lnk {
  position: relative;
  display: block;
  padding-right: 15px;
}
.mg-odds_seo {
  display: none;
}
.mg-informations_bet-value {
  display: block;
  font-size: 1.6rem;
  letter-spacing: -0.4px;
  color: #111;
  line-height: 1.1;
  font-weight: 700;
}
.mg-informations_bet-label {
  display: block;
  font-size: 1.1rem;
  letter-spacing: -0.4px;
  color: #999;
  line-height: 1;
  font-weight: 700;
}
.mg-informations_bet-icon {
  position: absolute;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: block;
  width: 7px;
  height: 12px;
}
.mg-odds {
  display: table;
  table-layout: fixed;
  width: 100%;
  max-width: 410px;
  padding: 15px 50px 8px 10px;
}
.mg-odds_odd {
  position: relative;
  display: table-cell;
  width: 1%;
  background-color: #fc0;
  border-right: 8px solid #fff;
  padding: 11px;
}
.mg-odds_odd-min {
  background-color: #111;
}
.mg-odds_odd-min .mg-odds_value {
  color: #fc0;
}
.mg-odds_label {
  font-size: 1.4rem;
  color: #fff;
  margin-right: 10px;
  font-weight: 700;
}
.mg-odds_value {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 1.4rem;
  color: #111;
  margin-left: 7px;
  font-weight: 800;
}
.mg-odds_btn {
  display: block;
  margin-right: 8px;
}
.mg-score-tennis {
  text-align: right;
  margin-right: 15px;
  margin-bottom: 10px;
}
.mg-score-tennis_time {
  font-size: 1.1rem;
  color: #999;
  letter-spacing: -0.3px;
  font-weight: 700;
}
.mg-score-tennis_board {
  display: table;
}
.mg-score-tennis_set,
.mg-score-tennis_set_in-progress {
  display: table-cell;
  font-size: 1.8rem;
  color: #fff;
  width: 100%;
  padding-left: 10px;
  font-weight: 800;
}
.mg-score-tennis_lost-set,
.mg-score-tennis_win-set,
.mg-score-tennis_set-inprogress {
  display: block;
  line-height: 1.2;
  height: 20px;
}
.mg-score-tennis_lost-set {
  color: #666;
}
.mg-score-tennis_win-set {
  color: #999;
}
.lazyload,
.lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.5s ease;
}
.site-navigation {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #fff;
  box-shadow: 0 0 24px 0 rgba(0,0,0,0.1);
}
.sn-list {
  display: table;
  width: 100%;
}
.sn-itm {
  display: table-cell;
  width: 1%;
  text-align: center;
}
.sn-lnk {
  position: relative;
  display: block;
  padding: 8px 0;
}
.sn-lnk.active .sn-lnk_text,
.sn-lnk:hover .sn-lnk_text,
.sn-lnk:focus .sn-lnk_text,
.sn-lnk:active .sn-lnk_text {
  color: #d40e12;
}
.sn-lnk_icon {
  display: block;
  margin: 0 auto;
}
.sn-lnk_icon.icon-sports {
  width: 22px;
  height: 23px;
}
.sn-lnk_icon.icon-calendar {
  width: 22px;
  height: 24px;
}
.sn-lnk_icon.icon-star,
.sn-lnk_icon.icon-games {
  width: 24px;
  height: 24px;
}
.sn-lnk_icon.icon-resultats {
  width: 23px;
  height: 25px;
}
.sn-lnk_text {
  display: block;
  font-size: 1rem;
  color: #666;
  letter-spacing: 0.2px;
  line-height: 1.3;
  font-weight: 700;
}
.sn-lnk_notification {
  display: block;
  position: absolute;
  top: 1px;
  left: 50%;
  margin-left: 5px;
  background-color: #d40e12;
  color: #fff;
  font-size: 1.2rem;
  height: 20px;
  line-height: 1.2;
  padding: 3px;
  text-align: center;
  border-radius: 10px;
}
.sn-bet {
  position: absolute;
  bottom: 50px;
  right: 0;
  width: 60px;
  height: 60px;
  margin-bottom: 15px;
  margin-right: 25px;
  overflow: hidden; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #95072f 0%, #d40e12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 100%;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.4);
}
.sn-bet_lnk {
  display: block;
  width: 100%;
  height: 100%;
  transition: background 0.5s ease;
}
.sn-bet_lnk:hover,
.sn-bet_lnk:focus,
.sn-bet_lnk:active {
  background-color: #d40e12;
}
.sn-bet_lnk:hover .sn-bet_cart,
.sn-bet_lnk:focus .sn-bet_cart,
.sn-bet_lnk:active .sn-bet_cart {
  -webkit-transform: translate(-50%, -50%) scale(1.1);
          transform: translate(-50%, -50%) scale(1.1);
}
.sn-bet_cart {
  display: block;
  width: 27px;
  height: 25px;
  margin-left: -2px;
  transition: all 0.5s ease;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media all and (min-width: 640px) {
  .site-navigation {
    height: 60px;
  }
  .sn-bet {
    bottom: 60px;
  }
  .sn-lnk {
    padding: 13px 0;
  }
}
@media all and (min-width: 768px) {
  .site-navigation {
    height: 70px;
  }
  .sn-bet {
    bottom: 70px;
  }
  .sn-lnk_notification {
    top: 10px;
  }
  .sn-lnk {
    padding: 18px 0;
  }
}
