/********************************/

[class^="btn-"]
[class*=" btn-"]
a[class^="btn-"]
a[class*=" btn-"]
    display                             inline-block
    max-width                           268px
    height                              44px
    text-align                          center
    vertical-align                      middle
    user-select                         none
    border-width                        1px
    border-style                        solid
    padding                             11px 15px
    font-size                           1.4rem
    overflow                            hidden
    touch-action                        manipulation
    text-decoration                     none
    cursor                              pointer
    transform                           scale(1)
    border-radius                       0
    font-eb()
    transition3()

.btn-1
a.btn-1
    background-color                    $color5
    border-color                        $color5
    color                               $color16

    &:hover
    &:focus
    &.active
        background-color                $color16
        border-color                    $color16
        color                           $color5


/* Mediaqueries Tablet ( >= 640px) */
@media all and ( min-width: $smallScreenContentMaxWidth )

    [class^="btn-"]
    [class*=" btn-"]
    a[class^="btn-"]
    a[class*=" btn-"]
        padding                         10px 20px
        font-size                       1.4rem


/* Mediaqueries Desktop ( >= 768px) */
@media all and ( min-width: $mediumScreenContentMaxWidth )

    [class^="btn-"]
    [class*=" btn-"]
    a[class^="btn-"]
    a[class*=" btn-"]
        padding                         10px 25px
        font-size                       1.6rem
