$color1                                 = rgb(0,0,0)
$color2                                 = rgb(255,255,255)
$color3                                 = rgb(212,14,18)
$color4                                 = rgb(149,7,47)
$color5                                 = rgb(255,204,0)
$color6                                 = rgb(252,194,0)
$color7                                 = rgb(147,192,31)
$color8                                 = rgb(235,241,222)
$color9                                 = rgb(254,254,254)
$color10                                = rgb(247,248,250)
$color11                                = rgb(232,233,235)
$color12                                = rgb(156,167,186)
$color13                                = rgb(153,153,153)
$color14                                = rgb(102,102,102)
$color15                                = rgb(41,41,41)
$color16                                = rgb(17,17,17)

$errorColor                             = #c93c3c
$successColor                           = #39a539
