/* Header */
$headerHeight                           = 44px
$headerHeightTablet                     = 54px
$headerHeightDesktop                    = 64px

/* Navigation */
$navigationHeight                       = 50px
$navigationHeightTablet                 = 60px
$navigationHeightDesktop                = 70px
