/* Metropolis
   Regular (400)
   Bold (700)
   ExtraBold (800)
------------------------------------------------------------------------*/

@font-face {
    font-family: 'metropolis';
    font-display: swap;
    src: url( $fontsUrl + 'metropolis-regular-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'metropolis-regular-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'metropolis-regular-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'metropolis';
    font-display: swap;
    src: url( $fontsUrl + 'metropolis-bold-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'metropolis-bold-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'metropolis-bold-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: 'metropolis';
    font-display: swap;
    src: url( $fontsUrl + 'metropolis-extrabold-webfont.woff?eri2lx' ) format( 'woff' ),
         url( $fontsUrl + 'metropolis-extrabold-webfont.woff2?eri2lx' ) format( 'woff2' ),
         url( $fontsUrl + 'metropolis-extrabold-webfont.ttf?eri2lx' ) format( 'truetype' );
    font-style: normal;
    font-weight: 800;
}
