{% extends '_base.twig' %}
{% import "_macros/_asset.twig" as macros %}

{% block global_content %}
    <div id="main">
        <div class="site-wrapper">
            {% block header %}
                {% include 'partials/_header.twig' %}
            {% endblock header %}
            {% block content '' %}
            {%- block navigation -%}
                {% include 'partials/_navigation.twig' %}
            {% endblock navigation %}
        </div>
    </div>

{% endblock global_content %}
