/*!
 *  Betclic
 *  @author: Erwan Chedaleux
 *  @version: 0.0.3
 *  
*/

* {
  box-sizing: border-box;
}
html,
body {
  line-height: 1.61803398875;
  background-color: #fff;
  color: #000;
}
html {
  font-size: 62.5%;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
body {
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smooth: always;
}
body,
div,
ul,
li {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  border: 0;
  max-width: 100%;
}
figure {
  margin: 0;
}
ul {
  list-style: none;
}
.site-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  color: #fff;
  height: 44px;
  overflow: hidden; /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right, #95072f 0%, #d40e12 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
.sh-logo {
  float: left;
}
.sh-logo_lnk {
  display: block;
  padding: 4px 0 6px 0;
}
.sh-logo_img {
  width: 81px;
  height: 28px;
}
.sh-legal {
  float: left;
  margin: 8px 0 8px 5px;
  width: 28px;
  height: 28px;
  background-color: rgba(0,0,0,0.2);
  border-radius: 100%;
}
.sh-legal_text {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.3rem;
  line-height: 2.3;
  text-align: center;
}
.sh-balance {
  float: right;
  background-color: rgba(0,0,0,0.2);
  margin: 8px 0;
  border-radius: 18px;
}
.sh-balance_icon {
  display: block;
  float: left;
  width: 24px;
  height: 24px;
  margin: 2px;
}
.sh-balance_text {
  float: left;
  margin-left: 8px;
  text-align: right;
  padding: 3px 9px 3px 0;
  font-weight: 700;
}
.sh-account {
  float: right;
}
.sh-account {
  margin-left: 10px;
}
.sh-account_lnk {
  position: relative;
  display: block;
  padding: 10px 0 10px 5px;
}
.sh-account_icon {
  display: block;
  width: 16px;
  height: 22px;
}
.sh-account_notification {
  display: block;
  position: absolute;
  top: 2px;
  right: -7px;
  background-color: #000;
  color: #fff;
  font-size: 1.1rem;
  width: 14px;
  height: 14px;
  line-height: 1.2;
  text-align: center;
  font-weight: 800;
  border-radius: 100%;
}
@media all and (min-width: 640px) {
  .site-header {
    height: 54px;
  }
  .sh-logo_lnk {
    padding: 8px 0 12px 0;
  }
  .sh-legal {
    margin: 13px 0 12px 8px;
  }
  .sh-balance {
    margin: 12px 0;
  }
  .sh-account_lnk {
    padding: 16px 0 15px 5px;
  }
  .sh-account_notification {
    top: 8px;
  }
}
@media all and (min-width: 768px) {
  .site-header {
    height: 64px;
  }
  .sh-logo_lnk {
    padding: 12px 0 16px 0;
  }
  .sh-legal {
    margin: 18px 0 18px 8px;
  }
  .sh-balance {
    margin: 17px 0;
  }
  .sh-account_lnk {
    padding: 20px 0 20px 5px;
  }
  .sh-account_notification {
    top: 12px;
  }
}
html,
body {
  overflow-x: hidden;
}
html,
body,
#main {
  width: 100%;
  height: 100%;
  min-width: 320px;
}
body {
  position: relative;
  font-family: 'metropolis', sans-serif;
  font-weight: 400;
}
#main {
  font-size: 1.4rem;
}
.site-wrapper {
  min-height: 100%;
}
.site-content {
  padding: 44px 0 50px 0;
  background-color: #e8e9eb;
}
.site-content .inner {
  padding-top: 15px;
  padding-bottom: 15px;
}
.inner {
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 15px;
}
@media all and (min-width: 640px) {
  .site-content {
    padding: 54px 0 60px 0;
  }
}
@media all and (min-width: 768px) {
  html,
  body {
    overflow-x: initial;
  }
  .site-content {
    padding: 64px 0 70px 0;
  }
}
