/***************************************/

@import '../_common/variables/*'

/* Header */
.icon-user-account
    background-image                       b64( $iconsImgUrl + 'icon-user.svg' )

.icon-part-coin
    background-image                       b64( $iconsImgUrl + 'icon-part-coin.svg' )


/* Navigation */
.icon-sports
    background-image                       b64( $iconsImgUrl + 'icon-sports.svg' )

.icon-calendar
    background-image                       b64( $iconsImgUrl + 'icon-calendar.png' )

.icon-star
    background-image                       b64( $iconsImgUrl + 'icon-star.svg' )

.icon-resultats
    background-image                       b64( $iconsImgUrl + 'icon-resultats.svg' )

.icon-games
    background-image                       b64( $iconsImgUrl + 'icon-games.svg' )

.icon-cart
    background-image                       b64( $iconsImgUrl + 'icon-cart.svg' )


/* Games */
.icon-arrow-1-b
    background-image                       b64( $iconsImgUrl + 'icon-arrow-1-b.svg' )

.icon-football
    background-image                       b64( $iconsImgUrl + 'icon-football.svg' )

.icon-tennis
    background-image                       b64( $iconsImgUrl + 'icon-tennis.svg' )

.icon-tv
    background-image                       b64( $iconsImgUrl + 'icon-tv.svg' )

.icon-live
    background-image                       b64( $iconsImgUrl + 'icon-live.png' )

.icon-live-tv
    background-image                       b64( $iconsImgUrl + 'icon-live-tv.png' )
