/***************************************/

@import '../_common/variables/*'

/* Header */
.icon-user-account
    background-image                       b64( $iconsImgUrl + 'icon-user.svg' )

.icon-part-coin
    background-image                       b64( $iconsImgUrl + 'icon-part-coin.svg' )


/* Navigation */
.icon-star
    background-image                       b64( $iconsImgUrl + 'icon-star.svg' )

.icon-games
    background-image                       b64( $iconsImgUrl + 'icon-games.svg' )


/* Games */
.icon-football
    background-image                       b64( $iconsImgUrl + 'icon-football.svg' )
