<nav class="site-navigation">
    <div class="sn-bet">
        <a href="#" class="sn-bet_lnk">
            <span class="sn-bet_cart icon-cart"></span>
        </a>
    </div>
    <ul class="sn-list">
        <li class="sn-itm">
            <a href="#" class="sn-lnk">
                <span class="sn-lnk_icon icon-sports"></span>
                <span class="sn-lnk_text">Sports</span>
            </a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">
                <span class="sn-lnk_icon icon-calendar"></span>
                <span class="sn-lnk_text">Now</span>
                <span class="sn-lnk_notification">254</span>
            </a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk active">
                <span class="sn-lnk_icon icon-star"></span>
                <span class="sn-lnk_text">Top bets</span>
            </a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">
                <span class="sn-lnk_icon icon-resultats"></span>
                <span class="sn-lnk_text">My bets</span>
            </a>
        </li>
        <li class="sn-itm">
            <a href="#" class="sn-lnk">
                <span class="sn-lnk_icon icon-games"></span>
                <span class="sn-lnk_text">Our products</span>
            </a>
        </li>
    </ul>
</nav>
